<button mat-raised-button color="accent" [routerLink]="['/']">Go Back</button>
<div id="card-container">
  <mat-card id="card" id={{selectedTshirt.id}}>
    <mat-card-title>{{selectedTshirt.name}}</mat-card-title>
    <img mat-card-image src={{selectedTshirt.picture}}/>
    <mat-card-content>
      <mat-list>
        <mat-list-item  *ngFor="let key of tshirtKeys"> {{key}} : {{selectedTshirt[key]}} </mat-list-item>
      </mat-list>
      <button mat-raised-button color="accent" (click)="handleBuyClick()">{{ buttonText }}</button>
    </mat-card-content>
  </mat-card>
</div>