<p>
  <mat-list>
      <mat-list-item *ngIf="cartPrice === 0">Your cart is empty</mat-list-item>
      <mat-list-item  *ngFor="let item of cart"> {{item.name}} {{item.size}} {{item.color}}
          <mat-form-field>
              <input matInput type="number" min=1 value={{item.buyQuantity}} [(ngModel)]="item.buyQuantity" (change)="handleQtyChange(item.id,item.buyQuantity)"/>
          </mat-form-field>
          <button mat-raised-button color="accent" (click)="handleRemoveClick(item.id)">Remove</button>
      </mat-list-item>
    </mat-list>
    <span *ngIf="cartPrice !== 0">Total Price : {{cartPrice}}</span>
</p>
